.hide {
    transition: 0.3s ease-in !important;
    display: none;
}

.stars_row {
    display: flex !important;
    justify-content: center !important;
}

.fa-star:hover {

    cursor: pointer;

}

.stars_happy {
    color: #5cb85c !important;
}

.stars_sad {
    color: red !important;
}


.lock {
    opacity: 0.3 !important;
    pointer-events: none;
    user-select: none;
}

.submit_section {
    transition: 0.4s ease-out !important;
}
